{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}


    {% if request.user.is_authenticated %}
<header>
      <h3>Добро пожаловать, {{request.user.username}}</h3>
      <p style="margin:10px 0">Для просмотра путешествий других пользователей введите его имя и нажмите кнопку "Поиск"</p>
        <p style="margin:10px 0">Отметки пользователя: {{ user_context }}</p>
      <form method="GET">
        <input
          type="search"
          placeholder="Поиск пользователей"
          name="user_search"
          hidden
        />
        <button class="back_btn" type="submit">Вернуться к своей карте</button>
      </form>
    <p style="margin:10px 0">Пользователь | отметки | лайки | уровень</p>

    <div class="user_list">
        <table>
        {% for user, count in users_list %}
            <tr>

                <td>
                    <form method="GET">
                        <input
                          type="search"
                          name="user_search"
                          value="{{ user }}"
                          hidden
                        />
                        <button class="search_btn" type="submit">Перейти к {{ user }}</button>
                        &ensp;&ensp;&ensp;
                    </form>
                </td>
                <td>{{ count }}&ensp;&ensp;&ensp;&ensp;&ensp;</td>
                <td>
                    {% for liked_user, liked_count in user_likes %}
                        {% if user == liked_user %}
                            {{ liked_count }}
                        {% endif %}
                    {% endfor %}
                </td>

            </tr>
        {% endfor %}
        </table>
    </div>
    <a href="{% url 'users_app:logout' %}">Выйти</a>
    </header>

    <div id="map">
        <div class="leaflet-control coordinate"></div>
    </div>

    {{ marks|json_script:"mark-json"}}
    {{ content|json_script:"content-json"}}
    {{ photos|json_script:"photos-json"}}
    {{ content_likes|json_script:"like-json"}}

    {% else %}
        <a href="{% url 'main:users_app:auth' %}">Авторизация</a>
        <a href="{% url 'main:users_app:reg' %}">Регистрация</a>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>

    document.addEventListener('DOMContentLoaded', () => {
        let map = createMap()

        var myIcon = L.icon({
          iconUrl: "static/img/red_marker.png",
          iconSize: [40, 40],
        });
        let marks = JSON.parse(document.getElementById('mark-json').textContent)
        let content = JSON.parse(document.getElementById('content-json').textContent)
        let photos = JSON.parse(document.getElementById('photos-json').textContent)
        let content_likes = JSON.parse(document.getElementById('like-json').textContent)

        for (let mark of marks){
            let title = ''
            let descr = ''
            let photoArray = []
            let coordinates = []
            let content_id
            let like = 0
            coordinates = [mark['latitude'], mark['longitude']]
            var marker = L.marker(coordinates, {icon: myIcon}).addTo(map)
            for (let elem of content){
                if (mark['content_id'] == elem['id']) {
                    title = elem['title']
                    descr = elem['description']
                    content_id = elem['id']
                    break
                }
            }
            for (let elem of photos) {
                if (mark['content_id'] == elem['content_id']) {
                    photoArray.push(elem['photo'])
                }
            }
            for (let elem of content_likes) {
                if (mark['content_id'] == elem['content_id']) {
                    like = elem['dcount']
                }
            }
            fillContent(marker, title, descr, photoArray, coordinates, content_id, like)
        }
        addPopupOnClick(map)
    });


</script>
{% endblock %}