<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<style>

</style>
<body>


        <div class="project-auth">
            <div class="project-logo"></div>
            <div class="form-container">
                <h2>Авторизация</h2>
                <form class="registration-form">
                    <label for="username">Логин</label>
                    <input type="text" id="username" name="username">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password">
                    <a href="#"></a>
                    <button type="submit">Войти</button>
                </form>
            </div>
        </div>

    
</body>
</html>