{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <h3>Добро пожаловать, {{request.user.username}}</h3>
        <a href="{% url 'main:users_app:logout' %}">Выйти</a>
          <div id="map">
            <div class="leaflet-control coordinate"></div>
          </div>

    {{ marks|json_script:"mark-json"}}
    {{ content|json_script:"content-json"}}
    {{ photos|json_script:"photos-json"}}
    {% else %}
        <a href="{% url 'main:users_app:auth' %}">Авторизация</a>
        <a href="{% url 'main:users_app:reg' %}">Регистрация</a>
    {% endif %}

    <h1>Главная страница</h1>
    <p>Что-то</p>

{% endblock %}

{% block scripts %}
<script>

    document.addEventListener('DOMContentLoaded', () => {
        let map = createMap()
        console.log(map)
        var myIcon = L.icon({
          iconUrl: "static/img/red_marker.png",
          iconSize: [40, 40],
        });
        let marks = JSON.parse(document.getElementById('mark-json').textContent)
        let content = JSON.parse(document.getElementById('content-json').textContent)
        let photos = JSON.parse(document.getElementById('photos-json').textContent)
        console.log(marks)
        console.log(content)
        console.log(photos)
        for (let mark of marks){
            let title = ''
            let descr = ''
            let photoArray = []
            var marker = L.marker([mark['latitude'], mark['longitude']], {icon: myIcon}).addTo(map)
            for (let elem of content){
                if (mark['content_id'] == elem['id']) {
                    title = elem['title']
                    descr = elem['description']
                    break
                }
            }
            for (let elem of photos) {

                if (mark['content_id'] == elem['content_id']) {
                    photoArray.push(elem['photo'])
                }
            }
            fillContent(marker, title, descr, photoArray)
        }
        addPopupOnClick(map)
    });


</script>
{% endblock %}