{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <h3>Добро пожаловать, {{request.user.username}}</h3>
        <a href="{% url 'main:users_app:logout' %}">Выйти</a>
          <div id="map">
            <div class="leaflet-control coordinate"></div>
          </div>
    {{ marks|json_script:"mark-json"}}
    {% else %}
        <a href="{% url 'main:users_app:auth' %}">Авторизация</a>
        <a href="{% url 'main:users_app:reg' %}">Регистрация</a>
    {% endif %}

    <h1>Главная страница</h1>
    <p>Что-то</p>

{% endblock %}

{% block scripts %}
<script>

    document.addEventListener('DOMContentLoaded', () => {
        let map = createMap()
        console.log(map)
        var myIcon = L.icon({
          iconUrl: "static/img/red_marker.png",
          iconSize: [40, 40],
        });
        let marks = JSON.parse(document.getElementById('mark-json').textContent)

        for (let mark of marks){
            L.marker([mark['latitude'], mark['longitude']], {icon: myIcon}).addTo(map)
        }
        addPopupOnClick(map)
    });

</script>
{% endblock %}