#map {
  width: 100%;
  height: 100vh;
}

.coordinate {
  position: absolute;
  bottom: 10px;
  right: 50%;
}

.leaflet-popup-content-wrapper {
  /* transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.47); */
  border-radius: 25px;
  /* background-color: #fff; */
  width: 600px;
  padding: 10px 25px 25px;
}

.leaflet-marker-icon {
  margin-top: -40px !important;
}

.custom-popup {
  width: 600px;
  padding: 50px;
  position: absolute;
  border-radius: 25px;
  background-color: #fff;
  z-index: 999;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.47);
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

/*DRAG AND DROP*/
.photo-container {
  width: 800px;
  margin: 0 auto;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}
/******************************//******************************/
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}
/******************************/

.highlight {
  border: 2px dashed #000 !important;
}

.instructions {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 10px;
}
.preview-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.image-container {
  position: relative;
  width: 200px;
}

.image-container > img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  
}

.info {
  width: 190px; /* Задайте желаемую ширину контейнера */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 180px;
  left: 5px;
  color: #fff;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  -webkit-text-stroke: 1px #000;
}

.remove-button:hover {
  color: #dfdfdf;
}


/*Модальное окно добавления маркера*/
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

body {
      /* background-color: #66d1e6; */
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
    }

    .form-container {
      padding: 35px;
      border-radius: 35px;
      width: 400px;
      -webkit-box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.58);
      box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.58);
      margin-top: 25px;
    }

    .form-container > h2 {
      text-align: center;
    }

    .registration-form {
      display: flex;
      flex-direction: column;
    }

    .registration-form label {
      margin-bottom: 10px;
    }

    .registration-form input {
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .registration-form button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #00c977;
      color: white;
      cursor: pointer;
      font-size: 18px;
      margin-top: 10px;
    }

    .registration-form button:hover {
      background-color: #00a161;
    }

    /* главная страница */
    .main-container {
      display: flex;
      height: 100vh;
      width: 100%;
    }

    .project-description {
      width: 50%;
      height: 100%;
      background-color: green;
      background-image: url("/static/img/Screenshot_1.png");
      background-size: cover;
      background-position: -482px 0;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #fff;
      text-shadow: 2px 2px 4px #000;
      padding: 40px 50px 0 50px;
      box-sizing: border-box;
    }

    .project-description-head > h1 {
      font-size: 60px;
      line-height: 24px;
    }

    .project-description-head > h3 {
      font-size: 28px;
      line-height: 28px;
    }

    .project-description-head > p {
      font-size: 24px;
      margin-top: 88px;
    }

    .project-auth {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .project-logo {
      width: 250px;
      height: 265px;
      background-image: url("/static/img/Без имени-1.png");
      background-size: cover;
      margin-top: 50px;
    }

  header {
      position: fixed;
      left: 10px;
      top: 20px;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 25px;
      background: rgba(255, 255, 255);
      max-width: 500px;
      z-index: 1000000;
      height: 400px;
    }

    header > form > input {
        outline: none;
        height: 30px;
    }

    header > form > button {
        border: none;
      background-color: #00c977;
      color: white;
      cursor: pointer;
      height: 30px;
    }

    header > form > button:hover {
      background-color: #00a161;
    }

.search_btn {
border: none;
background-color: black;
color: white;
cursor: pointer;
height: 30px;
border-radius: 10px;

transition: background-color 0.2s;
}

.back_btn {
border: none;
background-color: white;
color: white;
cursor: pointer;
height: 30px;
border: 1px solid black;
box-sizing: border-box;
color: black;
border-radius: 10px;

transition: background-color 0.2s;
}


.search_btn:hover {
background-color: rgb(51, 51, 51);
}

.back_btn:hover {
background-color: rgb(243, 243, 243);
}

/*.leaflet-popup {
height: 600px;
}*/

.leaflet-popup-content-wrapper {
padding: 25px 25px 25px;
width: 620px;
}

input[type="password"] {
box-sizing: border-box;
outline: none;
width:100%;
}

input[type="text"] {
box-sizing: border-box;
outline: none;
}

textarea {
box-sizing: border-box;
outline: none;
}

#drop-area {
margin: 10px auto;
}

#myForm {
font-size: 14px;
display: flex;
flex-direction: column;
}

#addMarkButton {
outline: none;
padding: 8px;
font-size: 15px;
box-sizing: border-box;
align-self: flex-end;
border: none;
color: #fff;
background-color: black;
border-radius: 10px;
cursor: pointer;
margin-top: 20px;

transition: background-color 0.2s;
}

#addMarkButton:hover {
background-color: rgb(43, 43, 43);
}

.input-file span {
color: #000;
border-radius: 12px;
background-color: white;
border: 1px solid black;
box-sizing: border-box;
box-sizing: border-box;
}

.input-file span:hover {
background-color: rgb(243, 243, 243);
}

.photo-section {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.content_description {
margin-top: 10px;
font-size: 14px;
}

p {
 margin:0;
}

.user_list {
    height: 140px;
    overflow: auto;
    margin: 10px 0;
}

.user_list::-webkit-scrollbar {
display: none;
}